<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdh.mapper.LogMovingPinMapper">

    <insert id="insert" parameterType="com.tdh.pojo.LogMovingPin" flushCache="true"
            statementType="PREPARED">
        insert into sys_log_moving_pin(
        <if test="id!=null">id,</if>
        <if test="inputId!=null">input_id,</if>
        <if test="outputId!=null">output_id,</if>
        <if test="factoryId!=null">factory_id,</if>
        <if test="goodsId!=null">goods_id,</if>
        <if test="goodsName!=null">goods_name,</if>
        <if test="goodsCode!=null">goods_code,</if>
        <if test="goodsImg!=null">goods_img,</if>
        <if test="consumerId!=null">consumer_id,</if>
        <if test="isInput!=null">is_input,</if>
        <if test="isOutput!=null">is_output,</if>
        <if test="isReturned!=null">is_returned,</if>
        <if test="isSupplement!=null">is_supplement,</if>
        <if test="isGift!=null">is_gift,</if>
        <if test="isClickFarming!=null">is_click_farming,</if>
        <if test="pinDate!=null">pin_date,</if>
        <if test="pinPrice!=null">pin_price,</if>
        <if test="remark!=null">remark,</if>
        <if test="createUser!=null">create_user,</if>
        create_time
        )values(
        <if test="id!=null">#{id},</if>
        <if test="inputId!=null">#{inputId},</if>
        <if test="outputId!=null">#{outputId},</if>
        <if test="factoryId!=null">#{factoryId},</if>
        <if test="goodsId!=null">#{goodsId},</if>
        <if test="goodsName!=null">#{goodsName},</if>
        <if test="goodsCode!=null">#{goodsCode},</if>
        <if test="goodsImg!=null">#{goodsImg},</if>
        <if test="consumerId!=null">#{consumerId},</if>
        <if test="isInput!=null">${isInput},</if>
        <if test="isOutput!=null">${isOutput},</if>
        <if test="isReturned!=null">${isReturned},</if>
        <if test="isSupplement!=null">${isSupplement},</if>
        <if test="isGift!=null">${isGift},</if>
        <if test="isClickFarming!=null">${isClickFarming},</if>
        <if test="pinDate!=null">#{pinDate},</if>
        <if test="pinPrice!=null">${pinPrice},</if>
        <if test="remark!=null">#{remark},</if>
        <if test="createUser!=null">#{createUser},</if>
        sysdate
        )
    </insert>





</mapper>