<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdh.mapper.MealBindResMapper">

    <select id="selectMap" parameterType="Map"
            resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        select * from (select (select b.factory_name
        from sys_goods a
        left join sys_factory b
        on b.factory_id = a.factory_id
        where a.goods_id = t.goods_id) as factory_name,
        (select b.factory_id
        from sys_goods a
        left join sys_factory b
        on b.factory_id = a.factory_id
        where a.goods_id = t.goods_id) as factory_id,
        t.repertory_id,
        t.goods_id,
        t.goods_name,
        (select a.goods_img from sys_goods a where a.goods_id = t.goods_id) as goods_img,
        (select a.goods_code from sys_goods a where a.goods_id = t.goods_id) as goods_code,
        t.total,
        t.warning_num,
        t.create_user,
        t.create_time,
        t.update_user,
        t.update_time,
        t.remark
        from sys_repertory t
        where 1 = 1)
        where 1=1
        <if test="p.factory_name!=null and p.factory_name!=''">
            and
            (
            factory_name like CONCAT(CONCAT('%',#{p.factory_name}),'%')
            OR
            goods_name like CONCAT(CONCAT('%',#{p.factory_name}),'%')
            )
        </if>
        order by factory_name,goods_name
    </select>

    <select id="countMap" parameterType="Map" resultType="Long">
        select count(1) as totalCount
        from sys_repertory tb
        where 1 = 1
        order by tb.create_time desc
    </select>
</mapper>